/* page header containing search bar and button */
.header{
    text-align: center;
    margin-top: 20px;
}

/* search bar */
.header input {
    width: 35%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(157, 39, 157);
    padding: 2px 5px;
    font-size: 1rem;
}

/* container containing filter bar and product list */
.mainContainer{
    display: flex;
    flex-wrap: wrap;
}

.mainContainer > div {
    margin: 15px;
    width: 100%;
}

/* container for all the products */
.itemContainer{
    display:flex;
    flex-wrap: wrap;
    padding:0 6%;
}


/* single item container */
.cardContainer{
    display: flex;
    height: 300px;
    width: 270px;
    box-shadow: 0px 0px 2px 2px grey;
    margin: 2%;
    padding: 5px;
    flex-direction: column;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 5px;
}

/* image container of product */
.imageContainer{
    height: 80%;
    width: 100%;
}

/* image within the container */
.imageContainer img{
    width: 90%;
    height: 90%;
}

/* product description */
.itemInfo{
    width: 100%;
    height: 20%;
}

/* container of name and price */
.namePrice{
    display: flex;
    height: 45%;
    text-align: center;
}

/* name of the product */
.name{
    text-align: left;
    width: 75%;
    overflow: hidden;
    text-overflow:ellipsis;
    height: 94%;
}

/* price of the product */
.price{
    width: 25%;
    color: #0a0aff;
    font-weight: 700;
    height: 95%;
}

/* button container within the item */
.btnContainer{
    height: 55%;
}

/* button  inside the container */
.btnContainer button{
    width: 100%;
    height: 100%;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    color: white;
}

/* add to cart button */
.addBtn{
    background-image: linear-gradient(to right, #c6247d 0%, #930993 51%, #f0e7f0 100%);
}

/* add button on hovering over it */
.addBtn:hover{
    background-image: none;
    border: 2px solid #4CB8C4;
    color: #4CB8C4;
    font-weight: 700;
}

.mainPage{
    width:90%;
    height:auto;
    margin-left:100px;

}
.aside{
    margin-top: 120px;
    margin-left:10px;

    float:left;
    width:10%;
    height:auto;
    position:fixed;

}
.filterbtn{
    border:2px solid magenta;
    padding:10px;
    color:#930993;
    background-color: none;
}